{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-12">
      <h1>{{ 'pages.register.title' | trans }}</h1>
      <p>{{ 'pages.register.registered' | trans }}</p>
    </div>
  </div>
{% endblock %}

{% block title %}

{% endblock %}

