<h1>{{ 'emails.register.introduction' | trans }}</h1>

<p>
  {{ 'emails.register.please-confirm' | trans }} <br><br>
  <a href="{{ signedUrl }}">{{ 'emails.register.confirm-label' | trans }}</a>.
  {{ 'emails.register.expire-in' | trans({'%%time': (expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle'))}) }}
</p>

<p>
  {{ 'emails.greetings' | trans }}
</p>
