{% extends 'base.html.twig' %}

{% block body %}

  <div class="row">
    <div class="col-12">
      <h1>{{ 'pages.login.title' | trans }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <form action="{{ path('login') }}" method="post">
        <div class="mb-3">
          <label class="form-label required" for="username">{{ 'pages.login.email' | trans }}</label>
          <input class="form-control" type="email" id="username" name="_username" value="{{ last_username }}"
                 required="required"/>
        </div>

        <div class="mb-3">
          <label class="form-label required" for="password">{{ 'pages.login.password' | trans }}</label>
          <input class="form-control" type="password" id="password" name="_password" required="required"/>
        </div>

        <div class="mb-3">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <button class="btn btn-primary" type="submit">{{ 'pages.login.submit' | trans }}</button>
        </div>
      </form>
    </div>
  </div>


{% endblock %}
