//////////////////////////////////////////////////
// Customize Bootstrap variables when needed
//////////////////////////////////////////////////

$dropdown-min-width: 1rem;


//////////////////////////////////////////////////
// Import Bootstrap defaults
//////////////////////////////////////////////////

@import "~bootstrap/scss/bootstrap";


//////////////////////////////////////////////////
// Add own styles
//////////////////////////////////////////////////

.language-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  column-gap: 1rem;
  grid-auto-flow: row dense;
}
