<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}CFC!{% endblock %}</title>
  <meta name="description" content="{{ 'pages.home.description' | trans }}">
  <link rel="icon"
        href="{{ asset('build/images/logo.png') }}">

  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}

  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand" href="#">
      <img class="d-inline-block align-text-top"
           src="{{ asset('build/images/logo.png') }}" alt="CFC"
           width="30" height="30">
    </div>

    <div class="collapse navbar-collapse" id="mainNavMenu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{ 'pages.nav-main.home' | trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'pages.nav-main.my-deck' | trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'pages.nav-main.settings' | trans }}</a>
        </li>
      </ul>
    </div>

    <form class="d-flex">
      <div class="dropdown me-2">
        <button id="languageSelector"
                class="btn btn-outline-secondary dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          {{ app.request.getLocale() }}
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="languageSelector">
          {% for locale in enabled_locales %}
            {% if locale == app.request.getLocale() %}
              <li><a class="dropdown-item active" href="#">{{ locale }}</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{{ url('home', {_locale: locale}) }}">{{ locale }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% if app.user %}
        <a href="{{ url('logout') }}" class="btn btn-primary me-2">{{ 'pages.nav-main.logout' | trans }}</a>
      {% else %}
        <a href="{{ url('login') }}" class="btn btn-primary me-2">{{ 'pages.nav-main.login' | trans }}</a>
        <a href="{{ url('register', {_locale: app.request.getLocale()}) }}"
           class="btn btn-outline-secondary me-2">{{ 'pages.nav-main.register' | trans }}</a>
      {% endif %}
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#mainNavMenu"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </form>
    {% block head %}{% endblock %}
  </div>
</nav>
<main class="container-fluid p-4">
  <div class="row">
    <div class="col-12">
      {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
      {% endfor %}
      {% for flashSuccess in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
      {% endfor %}
    </div>
  </div>
  {% block body %}{% endblock %}
</main>
</body>
</html>
